<h1>Seja Bem Vindo</h1>
<p>A língua usada nessa aplicação é: <strong><%= I18n.t('actual_locale') %></strong></p>
<p><strong>Data</strong> </p>

<p><%= I18n.t('hello') %></p>

<%= render 'menu' %>

<p>Você está em ambiente de <strong><%= enviroment %></strong></p>
