<h1>Editing Coin</h1>

<%= render 'form', coin: @coin %>

<%= link_to 'Show', @coin %> |
<%= link_to 'Back', coins_path %> |
<%= link_to 'Delete', @coin, method: :delete, data: { confirm: 'Are you sure?' } %>
